<div class="headign-text">
    <h1>Order Request Details</h1>
    </div>

<div class="main-page-box">

<div class="order-request">

<div class="box-left">

<div class="left-data">
    PO No :
</div>
<div class="right-data">
    REQ/005/13697/26102021
</div>

<div class="left-data">
    Order No :
</div>
<div class="right-data">
    123456
</div>


<div class="left-data">
    Dealer Name :
</div>
<div class="right-data">
    ROI DEALER
</div>

<div class="left-data">
    Dealer Name :
</div>
<div class="right-data">
    ROI DEALER
</div>

<div class="left-data">
    Approve By ASM :
</div>
<div class="right-data">
    No
</div>

<div class="left-data">
    Ship To:
</div>
<div class="right-data">
    test (2121212131)<br>
    KASANANTA<br>
    PATTAMUNDAI - 754215, KENDRAPARA<br>
    Odisha
</div>

</div>

<div class="box-right">

    <div class="box-left">

        <div class="left-data">
            PO Date :
        </div>
        <div class="right-data">
            26-10-2021
        </div>
        
        <div class="left-data">
            Order Date :
        </div>
        <div class="right-data">
            26-10-2021
        </div>
        <div class="left-data">
            Dealer Remarks :
        </div>
        <div class="right-data">
            sdsds
        </div>
        
        <div class="left-data">
            Approve By State Head :
        </div>
        <div class="right-data">
            No
        </div>

        </div>

</div>

</div>

<div class="order-request-details">

<table class="display table table-striped jambo_table  dataTable" cellspacing="0" width="100%">
    <thead> 
    <tr>
    <th>Sl</th>
    <th>Material Name</th>
    <th>Material Code</th>
    <th>Order Qty</th>
    <th>Approved Qty</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td> 1</td>
    <td> TMT 06MM</td>
    <td> 4400001</td>
    <td> 99.00</td>
    <td> 0.00</td>
    </tr>
    <tr>
    <td colspan="3">Total:</td>
    <td>99</td>
    <td>0</td>
    </tr>
    </tbody>
    </table>

</div>

<div class="text-box-text">
<h3>Logistic Remarks</h3>
<form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Leave a comment</mat-label>
          <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
        </mat-form-field>
      </form>
</div>

<ul class="cen-btn">
    <li><button mat-raised-button color="primary">Submit</button></li>
</ul>

</div>