/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.base-container .mat-drawer-inner-container {
    overflow: hidden;
}
.footer-container p {
    color: #fff !important;
    margin-left: -159px !important;
}
.example-full-width {
    width: 100%;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(#5AC8FA, #18A3B9);
    border-radius: 10px;
  }

  ::ng-deep .mat-form-field-flex > .mat-form-field-infix {
    padding: 1em 0px !important
  }
  input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.crumbs ul {
  list-style: none;
  display: inline-table;
  padding: 0;
  margin-top: 4px;
  margin-bottom: 0;
}
.crumbs ul li {
  display: inline;
}
.crumbs ul li a {
  display: block;
  float: left;
  height: 18px;
  background: #ccc;
  text-align: center;
  padding: 9px 15px 9px 40px;
  position: relative;
  margin: 0 5px 0 0;
  font-size: 14px;
  text-decoration: none;
  color: rgba(0, 0, 0, .87);
}
.crumbs ul li a:after {
  content: "";
  border-top: 18px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 18px solid #ccc;
  position: absolute;
  right: -18px;
  top: 0;
  z-index: 1;
}
.crumbs ul li a:before {
  content: "";
  border-top: 18px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 18px solid #fff;
  position: absolute;
  left: 0;
  top: 0;
}
.crumbs ul li:first-child a {
  padding-left: 40px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.crumbs ul li:first-child a:before {
  display: none;
}
.crumbs ul li:last-child a {
  padding-right: 40px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.crumbs ul li:last-child a:after {
  display: none;
}
/* .crumbs ul li a:hover {
  background: #932e3e;
  color: #fff;
}
.crumbs ul li a:hover:after {
  border-left-color: #932e3e;
  color: #fff;
} */
.crumbs {
  margin-left: 8px;
}
.crumbs svg {
  margin-top: 0px;
}
.account-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.crumbs li a.link-hover {
  cursor: pointer;
}
.cancel-button .mat-icon {
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: flex;
  justify-content: center;
  margin-right: 20px;
}
.cancel-button {
  cursor: pointer;
}

/* ::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
} */


/* Responsive Design */
@media only screen and (max-width: 768px) {
  .account-details {
    display: none;
}
}